# Carga de datos a través de la función read_csv de Pandas

In [1]:
# Configura el autocompletado en Jupyter Notebooks
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
path = "../datasets/titanic/titanic3.csv"

In [4]:
df = pd.read_csv(path)

In [5]:
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [6]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [7]:
df.loc[df["survived"]==1]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1261,3,1,"Turkula, Mrs. (Hedwig)",female,63.0000,0,0,4134,9.5875,NaN,S,15,NaN,NaN
1277,3,1,"Vartanian, Mr. David",male,22.0000,0,0,2658,7.2250,NaN,C,13 15,NaN,NaN
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0,0,2688,7.2292,NaN,C,C,NaN,NaN
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN

# Cargar datos desde una URL externa

In [30]:
medals_url = "https://data.world/johayes13/summer-winter-olympic-games/workspace/file?filename=Olympics.csv"

In [32]:
medals_data = pd.read_csv(medals_url)

In [33]:
medals_data

Empty DataFrame
Columns: [<!doctype html><html lang="en"><head> <title data-react-helmet="true">data.world</title>    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="referrer" content="origin-when-cross-origin"><meta name="og:image" content="https://d2ogkq1rg66kh0.cloudfront.net/site-resources/images/fb-image-share.3a87a6eb.png"><meta name="og:site_name" content="data.world"><meta name="twitter:card" content="summary"><meta name="twitter:site" content="@datadotworld"><meta property="fb:app_id" content="776416075825233"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Lato:300, 300i, 400, 400i, 700, 700i"><link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="data.world">  <link rel="apple-touch-icon" sizes="57x57" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/apple-touch-icon-180x180.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"><meta name="apple-mobile-web-app-title" content="data.world"><meta name="mobile-web-app-capable" content="yes"><meta name="theme-color" content="#fff"><meta name="application-name" content="data.world"><link rel="icon" type="image/png" sizes="32x32" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon-16x16.png"><link rel="shortcut icon" href="https://assets.data.world/icons-d1940ad25da01d05b8f27389101617c1/favicon.ico"><link href="https://assets.data.world/css/vendors~app.4942ac3310a60749a1ea.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors~vendors.40c2a537fed3c36611e3.css" rel="stylesheet"><link href="https://assets.data.world/css/vendors.ec30247cf83b3f5a2f94.css" rel="stylesheet"><link href="https://assets.data.world/css/app.7bb7f14a1c9038430467.css" rel="stylesheet"></head><body ><div id="root"><div class="page-container CoreLayout__embed___1fxWq"><div class="view-container"><div class="LoadingAnimation__loaderOverlay___2zSul LoadingAnimation__default___KhFF6" data-dw="LoadingAnimation"><div class="LoadingAnimation__loaderContainer___2arLY"><div class="LoadingAnimation__spinner___2qQFp">Loading...</div></div></div></div><button data-dw="CoreLayout-HelpDeskButton" type="button" class="CoreLayout__buttonFeedback___2YfGv hidden-xs btn btn-primary">?<span class="text-hide"><span>Feedback</span></span></button></div></div><script type="application/json" id="init-data">{"clients":{}, currentUser:{"authorizedAccounts":null, requests:[], unDismissedTourCount:2, needsAnalyticsAlias:false, notifications:[], dismissed:[], profile:{"agentid":"", visitorid:"109156be-c4fb-41ea-b1b4-efe1671c580b", displayName:"", email:"", company:"", activeSubscriptionid:"", accountStanding:"good", bio:"", emailVerified:true, location:"", website:"", avatarUrl:"", numFollowers:0, numFollowing:0, numOrganizations:0, catalogStatistics:{"analysesCount":0, datasetsCount:0, dataTypesCount:0, glossaryCount:0, projectsCount:0, tablesCount:0}, allowedRoles:[], relationship:{"member":false, followed:false}, created:"", updated:"", tags:[], abTests:{"buckets":{"landingPageVideo":{"name":"video", value:1}, newCommunityPricingPageAnon:{"name":"new pricing page", value:1}.1, openAccessTwo:{"name":"normal", value:0}, postgres:{"name":"enabled", value:1}.2, redshiftRO:{"name":"disabled", value:1}.3, showNewFeedbackAnon:{"name":"new", value:1}.4, sidedoorVideo:{"name":"signup", value:0}.1, sqlAlgebra:{"name":"preferLegacy", value:2}, sqlQuery:{"name":"presto", value:4}, unifiedSearchAnon:{"name":"new", value:1}}}, orgMode:false, orgDetails:null, orgPreferences:null, level:"READ", staticGrants:{"analysisHubEnabled":false, businessGlossaryEnabled:false, lineageEnabled:false, metadataCatalogEnabled:false, preventGuestAuthorizations:false, preventGuestUserInvite:false, preventOpenDatasets:false, preventSignedShareUrls:false, samlAllowed:false}, userCapabilities:{}, visibility:""}, requestsFetching:false, authorizedClients:[], isLoggedIn:false, onboardThisSession:false, token:"eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50IiwiaXNzIjoiYXV0aG9yaXR5OmRhdGFkb3R3b3JsZDo6MEJGMEVCRDMtMkRFNy00OUZCLUI4N0ItQUQwMzA1N0JCODlFIiwiaWF0IjoxNjI1Njc1MzA2LCJyb2xlIjpbXSwiZXhwIjoxNjI1NzYxNzA2LCJ2aXNpdG9yaWQiOiIxMDkxNTZiZS1jNGZiLTQxZWEtYjFiNC1lZmUxNjcxYzU4MGIiLCJnZW5lcmFsLXB1cnBvc2UiOnRydWUsImF1dGhvcml0eWlkcyI6WyJkYXRhZG90d29ybGQiXX0.Y4rLwa0cO-AioC4p-aOjb2ZadFXcdojuUZNCovJgLxjXZMxJ7HnEwe5OsudBXUMXBPR7LlPWvo0CTgKQnhY71w"}, dataset:{"hasError":false, loadedDatasets:{}, usersDatasets:{}, loadedCurrentUsersDatasets:false, usersDatasetsTotalCount:0, customDataTypes:{}, workspacePreferences:{}}, discussion:{}, events:{"status":"closed"}, integration:{"activeIntegrations":[], userJdbcSources:[], supportedJdbcSources:[]}, invite:{}, linkedOnboardModal:{"show":false}, loginModal:{"show":false}, queries:{}, requestInfo:{"pathsMarkedAs404":[], metadata:{}}, requests:{"hasError":false, loadedResources:{}}, ...]
Index: []

[0 rows x 686 columns]